# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
*.log

# OS
.DS_Store

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.sts4-cache/

# Node
node_modules/
dist/

# Env files
.env

