version: "3.8"

services:
  backend:
    build: ./Mechyam-Backend
    container_name: backend
    env_file: .env
    restart: always
    depends_on:
      - redis
    networks:
      - app-net

  frontend:
    build: ./frontend-mechyam
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-net
  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app-net


networks:
  app-net:
    driver: bridge

