services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_DATABASE: mechyam
      MYSQL_USER: mechyam_user
      MYSQL_PASSWORD: MechyamDb@23456
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-net

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app-net

  backend:
    build: .
    container_name: backend
    env_file: .env
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mysql
      - redis
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  mysql-data:

